<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>home_icon.png</string>
		<key>title</key>
		<string>Home</string>
	</dict>
	<dict>
		<key>image</key>
		<string>group.png</string>
		<key>title</key>
		<string>My Friends</string>
	</dict>
	<dict>
		<key>image</key>
		<string>add.png</string>
		<key>title</key>
		<string>Add Friends</string>
	</dict>
	<dict>
		<key>image</key>
		<string>add.png</string>
		<key>title</key>
		<string>My Invitations</string>
	</dict>
    <dict>
		<key>image</key>
		<string>add.png</string>
		<key>title</key>
		<string>Friend Requests</string>
	</dict>
	<dict>
		<key>image</key>
		<string>settings.png</string>
		<key>title</key>
		<string>Settings</string>
	</dict>
	<dict>
		<key>image</key>
		<string>logout.png</string>
		<key>title</key>
		<string>Logout</string>
	</dict>
</array>
</plist>
